{%extends 'shared/layout.html'%}
{%block body%}
<h1>Buy</h1>
<div class="container md-2">
<table class='table table-success table-striped'>
    <thead>
            <tr>
                <th>IdUser</th>
                <th>ID</th>
                <th>Products</th>
                <th>Price</th>
                <th>Buy</th>
            </tr>
        </thead>
       <tbody>
            {%for prod in find%}
            <tr>
                <td>{{request.user.id}}:{{request.user.username}}</td>
                <td>{{prod.id}}</td>
                <td>{{prod.descriptions}}</td>
                <td>{{prod.price}}</td>
                <td><button><a href="{%url 'buyProd' prod.id%}">Buy</a></button></td>
            </tr>
            {%endfor%}
        </tbody>
</table>

</div>
    <form  method="post" action="{% url 'buy'}">
        {%csrf_token%}
        {{buy_form}}
        <input type="submit">
    </form>
<div>
    <button><a href="{% url 'order' buy_id %}">Home</a></button>
</div>
{%endblock%}