{%extends 'shared/layout.html'%}
{%block body%}
<h1>Buy</h1>

    <div class="container md-3">
    <table class='table table-success table-striped'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Products</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Summa</th>
            </tr>
        </thead>
       <tbody>
        {%for products in find%}
            <tr>
                <td>{{products.id}}</td>
                <td>{{products.descriptions}}</td>
                <td>{{products.price}}</td>
                <td>
                    <form method="post">
                        {%csrf_token%}
                    {{quant}}
                    <td>
                    <input type="submit">
                    </td> 
                    </form> 
                </td>
                <td>
                    {{form}}
                </td>
                
            </tr>
        {%endfor%}
        </tbody>
        
    </table>
    </div>
    <form  method="post" action="{% url 'buy' }">
        {%csrf_token%}
        {{buy_form}}
        <input type="submit">
    </form>
<div>
    <button><a href="{% url 'order' buy_id %}">Home</a></button>
</div>
{%endblock%}