{%extends 'shared/layout.html'%}
{%block body%}
<h1>You order</h1>
<ul>
    
    <li>
        You order :{{order.id}}:{{order.descriptions}}:{{order.price}}
        <div class="im">
            <img src="{{order.photo}}">
        </div>
    </li>
     <div>
        {%if user.is_authenticated%}
        <a href="{% url 'logout' %}">Log Out</a>
        <button><a href="{% url 'beginen' %}">Home</a></button>
        <button><a href="{% url 'buy' order.id%}">Buy</a></button>
        {%else%}
        <button><a href="{% url 'register' %}">Register</a></button>
        <button><a href="{% url 'login' %}">Login</a></button>
        <button><a href="{% url 'beginen' %}">Home</a></button>
        {%endif%}
         
     </div>
     
</ul>

{%endblock%}